// theme setup

body {
    color: $white;
}

.home {
    > * {
        place-content: center;
    }
}
// Hero section
.hero {
    text-align: center;
    background-color: $green-600;
    min-height: 700px;
    position: relative;
    .hero-p {
        max-width: 457px;
        margin: auto;
    }
    .wrapper {
        grid-row: 1/-1;
        place-content: center;
        gap: 24px;
    }
    h1 {
        font-weight: 700;
        max-width: 350px;
        margin: auto;
    }
    p {
        height: 100%;
        display: flex;
        align-items: flex-end;
    }
    .left-patterns,
    .bot-patterns {
        img {
            margin: auto;
        }
    }
    .left-patterns {
        display: none;
        max-width: max-content;
        grid-row: 1/-1;
        grid-column: 1/2;
        place-items: center;
        img {
            transform: translateX(-50%);
            max-width: 100%;
            grid-row: 1;
        }
    }
    .bot-patterns {
        position: absolute;
        width: 100%;
        right: 0;
        bottom: 0;
        > img {
            margin-inline-start: auto;
        }
    }
}

// Advantages section
.advantages {
    padding: 100px calc(100px - $layoutPadding);
    background-color: $green-800;
    position: relative;
    overflow: hidden;
    .right-patterns {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(50%, 35%);
    }
    h2 {
        font-weight: 600;
        width: 100%;
    }
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 64px;
        position: relative;
        h2 {
            margin-top: 54px;
        }
        &::before {
            position: absolute;
            top: 0px;
            left: 0;
            content: '';
            width: 50px;
            height: 4px;
            background-color: $pink;
        }
    }
    .advanteges-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        .advanteges-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .advanteges-item {
                display: grid;
                grid-template-columns: auto 1fr;
                grid-template-rows: repeat(2, auto);
                gap: 32px 23px;
                .icon {
                }
                .text-wrapper {
                    :first-child {
                        margin-bottom: 16px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

// Recommendations section
.recommendations {
    padding: 100px calc(100px - $layoutPadding);
    background-color: $green-700;
    min-height: 745px;
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    h2 {
        margin-bottom: 56px;
        text-align: center;
    }
    .recommendations-list {
        display: flex;
        flex-wrap: wrap;
        gap: 48px;

        .recommendations-item {
            text-align: center;
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 1;
            .quotes {
                left: 50%;
                transform: translateX(-50%);
                z-index: -1;
                margin: auto;
                position: absolute;
            }
            .recommendation-body {
                margin-top: 36px;
            }
            .written-by {
                font-weight: 600;
                margin-top: 24px;
                margin-bottom: 52px;
            }
        }
    }
}

// CTA section
.cta {
    min-height: 200px;
    background-color: $pink;
    color: $contrast-txt-color;
    .wrapper {
        max-width: 917px;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    button {
    }
}

// Narrow
@media (min-width: $break-narrow) {
    .hero {
        text-align: start;
        .hero-p {
            max-width: unset;
            margin: unset;
        }
        .bot-patterns {
            img {
                margin: 0 0 0 auto;
            }
        }
        .left-patterns {
            display: block;
        }
        h1 {
            max-width: unset;
            font-weight: 400;
            padding: 0;
        }
        p {
            position: relative;
            &::before {
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                width: 50px;
                height: 4px;
                background-color: $green-txt;
            }
        }
    }
    .advantages {
        min-height: 684px;

        .wrapper {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            &::before {
                top: -54px;
            }
            h2 {
                font-weight: 400;
                max-width: 445px;
                margin-top: 0;
            }
            > * {
                flex-basis: 50%;
            }
        }
    }
    .recommendations {
        .recommendations-list {
            gap: 30px;
            flex-wrap: nowrap;
        }
    }
    .cta {
    }
}
