.app-footer {
    background-color: $green-900;
    min-height: 196px;
    .wrapper {
        // width: 100%;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
    }
    .intro {
        justify-content: space-between;
        display: flex;
        width: 100%;
    }
    .contact-details {
    }
    .social-copywrite {
        justify-content: space-between;
        width: 100%;
        .social {
            gap: 16px;
            align-self: flex-end;
        }
        .copywrite {
        }
    }
    @media (min-width: $break-narrow) {
        & {
            .intro {
                gap: 125px;
                justify-content: unset;
                width: unset;
            }
            .wrapper {
                gap: 0px;
                flex-wrap: nowrap;
                > * {
                    height: 100%;
                }
            }
            .intro {
            }
            .social-copywrite {
                flex-direction: column;
                width: unset;
            }
        }
    }
}
