// CTA section
.cta {
    min-height: 200px;
    background-color: $pink;
    color: $contrast-txt-color;
    position: relative;
    .left-patterns {
        position: absolute;
        bottom: 0;
        left: 0;
        grid-column: 1/-1;
    }
    .wrapper {
        align-items: center;
        max-width: 917px;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    button {
    }
}
// Narrow
@media (min-width: $break-narrow) {
    .cta {
    }
}
