// CTA section
.cta {
    min-height: 200px;
    background-color: $pink;
    color: $contrast-txt-color;
    position: relative;
    z-index: 0;
    .left-patterns {
        position: absolute;
        bottom: 0;
        left: 0;
        grid-column: 1/-1;
        z-index: -1;
    }
    .wrapper {
        max-width: 917px;
        width: 100%;
        margin: auto;
        display: flex;
        padding: 3.5rem 0 7rem 0rem;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1.5rem;
        text-align: center;
    }
    button {
        flex-shrink: 0;
    }
}
// Narrow
@media (min-width: $break-tablet) {
    .cta {
        .wrapper {
            justify-content: space-between;
            flex-direction: row;
            text-align: start;
            padding: 3.5rem 0 7rem 1.5rem;
        }
    }
}
// Normal
@media (min-width: $break-desktop) {
    .cta {
        .wrapper {
            padding: 5rem;
        }
    }
}
