// Hero section
.hero {
    text-align: center;
    background-color: $green-600;
    min-height: 700px;
    position: relative;
    .hero-p {
        margin: auto;
        height: 100%;
        display: flex;
        align-items: flex-end;
        max-width: 400px;
    }
    .wrapper {
        grid-row: 1/-1;
        place-content: center;
        grid-template-columns: 1fr;
        gap: 24px;
    }
    h1 {
        font-weight: 700;
        max-width: 220px;
        margin: auto;
        font-size: 40px;
    }

    .left-patterns,
    .bot-patterns {
        img {
            margin: auto;
        }
    }
    .left-patterns {
        display: none;
        max-width: max-content;
        grid-row: 1/-1;
        grid-column: 1/2;
        place-items: center;
        img {
            transform: translateX(-50%);
            max-width: 100%;
            grid-row: 1;
        }
    }
    .bot-patterns {
        position: absolute;
        width: 100%;
        right: 0;
        bottom: 0;
        > img {
            margin-inline-start: auto;
        }
    }
}

@media (min-width: 400px) {
    .hero {
        h1 {
            font-size: 64px;
            max-width: 350px;
        }
    }
}

// Narrow
@media (min-width: $break-tablet) {
    .hero {
        h1 {
            max-width: 382px;
            font-size: 64px;
        }
        .hero-p {
            max-width: 500px;
        }
    }
}

// Normal
@media (min-width: $break-desktop) {
    .hero {
        text-align: start;
        h1 {
            max-width: 350px;
            font-size: 100px;
        }
        .wrapper {
            grid-template-columns: 1fr 1fr;
        }
        .hero-p {
            max-width: 457px;
            margin: unset;
        }
        .bot-patterns {
            img {
                margin: 0 0 0 auto;
            }
        }
        .left-patterns {
            display: block;
        }
        h1 {
            max-width: unset;
            font-weight: 400;
            padding: 0;
        }
        p {
            position: relative;
            &::before {
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                width: 50px;
                height: 4px;
                background-color: $green-txt;
            }
        }
    }
}
