// Color pallete
$white: #fff;
$pink: #f67e7e;
$green-txt: #79c8c7;
$green-muted: #2c6269;
$contrast-txt-color: #012f34;
$green-600: #014e56;
$green-700: #004047;
$green-800: #012f34;
$green-900: #002529;

// Base font vars
$base-font-family: 'Livvic', Arial, Helvetica, sans-serif;
$base-font-size: 15px;
$base-font-ratio: 1.66;

// Fixed sizes
$app-header-height: 52px + 1px; // 1px for border-bottom addition

// Layout padding
$layoutPadding: 20px;

// Layout breakpoints
$break-tablet: 768px;
$break-desktop: 1110px;

$padded-break-tablet: $break-tablet + $layoutPadding * 2;
$padded-break-desktop: $break-desktop + $layoutPadding * 2;
